In [1]:
# import modules
import os
import pandas as pd

In [2]:
cityData = pd.read_csv('output_data/cities.csv')
cityData.head()

,City_ID,City,Lat,Lng,Max_temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,morro bay,35.3658,-120.8499,77.40,86,84,3.67,US,1662865112
1,1,tasiilaq,65.6145,-37.6368,34.59,76,75,3.98,GL,1662865114
2,2,manadhoo,5.7667,73.3833,80.58,82,80,14.12,MV,1662865117
3,3,jamestown,42.0970,-79.2353,66.72,69,0,6.91,US,1662864950
4,4,rikitea,-23.1203,-134.9692,73.09,70,32,11.97,PF,1662865121

In [3]:
cityData.to_html('tableData.html', index=False, classes=['table', 'table-striped', 'table-hover'])